<div class="bottom">
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <div class="footer">
        <div class="links">
            <div class="linker">
                <h6 class="footer-heading">QUICK LINKS</h6>
                <div class="footer-link">
                    <a href="">Our Team</a>
                    <a href="">Feuchers</a>
                    <a href="">Pricing</a>
                </div>
            </div>
            <div class="linker">
                <h6 class="footer-heading">COMPANY</h6>
                <div class="footer-link">
                    <a href="">Contact</a>
                    <a href="">News</a>
                    <a href="">Careers</a>
                    <a href="">Solutions</a>
                </div>
            </div>
            <div class="linker">
                <h6 class="footer-heading">LEGAL</h6>
                <div class="footer-link">
                    <a href="">Privacy Notice</a>
                    <a href="">Terms of Use</a>
                </div>
            </div>
        </div>
        <span class="space"></span>
        <div class="sub">
            <h6 class="footer-heading">SUBSCRIBE TODAY</h6>
            <div class="subscribe">
                <input type="text" name="email" id="email" placeholder="Enter Email">
                <button type="submit"><mat-icon>send</mat-icon></button>
            </div>
            <div class="mt-5">
                <div class="list-icons">
                    <a href="#"><mat-icon>facebook</mat-icon></a>
                    <a href="#"><mat-icon>facebook</mat-icon></a>
                    <a href="#"><mat-icon>facebook</mat-icon></a>
                    <a href="#"><mat-icon>facebook</mat-icon></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <p class="company-name">
            PROJECTED IT &copy; 2021, ALL Rights Reserved
        </p>
    </div>
</div>