

<!--FOOTER-->
<footer class="padding_4x">
  <div class="footer_body flex">
    <section class="flex_content padding_1x">
      <figure class="logo fixed_flex">
            <img src="" alt="logo">
            <figcaption>
                <strong class="title"></strong>
            </figcaption>
        </figure>
        <a href="#">
            <i class="fa fa-map-marker"></i> 
            2782 Tunzi Street Rockville Moroka Johannesburg South Africa
        </a>
        <a href="emailto:info@projectedit.co.za">
            <i class="fa fa-envelope-o"></i>
             info@projectedit.co.za
        </a>
        <a href="tel:+27 63 279 0215 ">
            <i class="fa fa-headphones"></i>
             +27 63 279 0215 
        </a>
    </section>
    <section class="flex_content padding_1x">
      <h3>Quick Links</h3>
      <a href="#">Vision open</a>
      <a href="#">Projects</a>
      <a href="#">Insight</a>
      <a href="#">Careers</a>
    </section>
    <section class="flex_content padding_1x">
      <h3>Other Links</h3>
      <a href="#">About us</a>
      <a href="#">contact us</a>
      <a href="#">Raise a ticket</a>
      <a href="#">Terms & conditions</a>
    </section>
    <section class="flex_content padding_1x">
      <h3>Newsletter</h3>
      <p>You can trust us. we only send important notifications related to technology.</p>
      <fieldset class="fixed_flex">
        <input type="email" name="newsletter" placeholder="Your Email Address">
        <button class="btn btn_2">Subscribe</button>
      </fieldset>
    </section>
  </div>
  <div class="flex">
    <section class="flex-content padding_1x">
      <p>Copyright ©2020 All rights reserved || ProjectedIT</p>
    </section>
    <section class="flex-content padding_1x">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </section>
  </div>
</footer>