<!--HEADER-->
<header class="flex">
    <article>
        <div>
            <h1 class="title big">Welcome to <em>Projected IT</em><br>  Revolutionizing Your Digital Future</h1>
            <p class="text">
                Are you ready to take your business to new heights? <br> Explore our comprehensive range of IT services and let us help you unlock the true potential of your organization.
            </p>
            <a href="Solutions" class="btn_header">Explore more</a>
        </div>
        <div>
            <img src="../../../assets/img/sol-removebg-preview.png" alt="" width="100px">
        </div>
    </article>
    <section class="flex">
        <aside class="padding_1x">
            <h2 class="sub_title"> Application</h2>
            <p>
                Discover endless possibilities with our diverse range of applications designed to revolutionize your digital experience.
            </p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Design</h2>
            <p>
                First impressions matter, and our design services ensure that your digital presence stands out.
            </p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Consultation</h2>
            <p>
                Unlock your potential with expert guidance through personalized consultations tailored to your unique needs.
            </p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
    </section>
</header>
