
<!--HEADER-->
<header class="flex">
    <article>
        <h1 class="title big">Welcome to <br><em>ProjectedIT</em> Revolutionizing Your Digital Future</h1>
        <a href="#" class="btn btn_3">Explore more</a>
    </article>
    <section class="flex">
        <aside class="padding_1x">
            <h2 class="sub_title">Digital Transformation</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Applications</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Consultation</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
    </section>
</header>