/*HEADER*/
header {
    width: 100%;
    background: linear-gradient(150deg, #000532 25%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/img/header.jpg");
    background-size: cover;
    background-position: left;
    align-items: center;
    justify-content: left;
    color: var(--white);
    position: relative;
}

p{
    color: var(--dark);
    font-weight: 600;
    font-size: 1rem;
}

header article {
    width: 50%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

header article .title {
    font-weight: 700;
}

header section {
    background-color: var(--white);
    width: 90%;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%, 2rem);
}

header section aside {
    position: relative;
}

header section aside a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: var(--white);
    bottom: -15px;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--gray);
}

header section aside:nth-child(1) {
    background-color: var(--primary);
}

header section aside:nth-child(2) {
    background-color: var(--secondary);
}

header section aside:nth-child(3) {
    background-color: var(--blendering);
}

.btn_3 {
    background: linear-gradient( 90deg, var(--primary), var(--blendering));
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

@media (max-width:920px) {
    header article {
        width: 100%;
        padding: 4rem 1rem;
    }

    header section {
        position: static;
        width: 100%;
        transform: none;
        padding: 1rem;
    }

    header section aside {
        flex: 1 1 100%;
        margin: 1% 0;
    }

    header section aside a {
        position: relative;
        transform: none;
        background-color: none;
        border: 0;
        padding: 0;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        color: var(--white);
    }

    header section aside a:before {
        content: "Explore";
        margin-right: 5px;
        color: var(--white);
    }
}

.fa {
    background-color: transparent;
    color: var(--dark);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0px;
}

/* For Desktop View */
@media screen and (min-width: 924px) {
    .fa {
        background-color: var(--dark);
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 30px;
    }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .fa {
        background-color: var(--dark);
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 30px;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}

