
.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:2.5em;
    padding-bottom: 10px;
}

.text {
    padding-bottom: 10px;
    font-size: 1.1rem;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.1em;
}

.ball:before{
    content:"";
    border-radius:50%;
    background-color:rgba(1,1,1,0.2);
    position:absolute;
    left:0;
    top:50%;
    width:30px;
    height:30px;  
    transform:translate(-50%, -50%);
}

.link-tag{
    position:relative;
    color:var(--black);
}

.link-tag:before{
    content:"\f0da";
    font-family:"FontAwesome";
    margin-right:5px;
    transition:0.5s;
    color:var(--primary);
}

.link-tag:hover:before{
    margin-right:10px;
    color:var(--black);
}

.link-tag:hover{
    color:var(--primary);
}

.btn_header{
    background: var(--secondary);
    width: 50%;
    padding: 5px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5px;
    color: black;
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .big{
        font-size:1.8em;
    }
    
    .medium{
        font-size:1.6em;
    }
    
    .small{
        font-size:1.1em;
    }
    
    .title_header{
        width:100%;
    }
}

/*HEADER*/
header{
    width:100%;
    background:linear-gradient(130deg, rgb(0, 35, 91) 20%, rgba(0, 35, 91, 0.7) 50%, rgba(0, 35, 91, 0.2) 100%), url("../../../assets/img/header.jpg");
    background-size:cover;
    color:var(--white);
    position:relative;
    height: calc(100vh - 50px);
}

header article{
    width:100%;
    height: 100%;
    padding: 0 5rem;
    display: inline-flex;
    flex-direction: row;
}

em{
    color: var(--secondary);
}

header article div:nth-child(1){
    width:100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

header article div:nth-child(2){
    width:100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header article div img{
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

header article .title{
    font-weight:700;
}

header section{
    width:90%;
    position:absolute;
    bottom:-1.5rem;
    left:50%;
    transform:translate(-50%, 2rem);
}

header section aside{
    position:relative;
    margin: 0.5rem;
    width: 100%;
    border-radius: 5px;
    color: black;
}

header section aside a{
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0.2rem;
    border-radius:50%;
    background-color:var(--secondary_2);
    bottom:-15px;
    width:30px;
    height:30px;
    left:50%;
    transform:translate(-50%, 0);
    border:1px solid var(--gray);
}

header section aside p {
    font-size: 1rem;
    padding: 10px 0;
    font-weight: 500;
}

header section aside:nth-child(1){
    background: var(--secondary);
}

header section aside:nth-child(2){
    background: var(--secondary);
}

header section aside:nth-child(3){
    background: var(--secondary);
}

@media (max-width:920px){
    header article{
        width:100%;
        height: 100%;
        padding:4rem 1rem;
        justify-content: center;
        display:inline-flex;
        flex-direction: column-reverse;
    }
    
    header section{
        position:static;
        width:100%;
        transform:none;
        padding:1rem;
        background-color: rgba(0, 35, 91);
    }

    header article div img{
        width:400px;
        display: inline-flex;
        flex-direction: column;
    }
    
    header section aside{
        flex: 1 1 100%;
        margin:1% 0;
    }
    
    header section aside a{
        position: inherit;
        transform:none;
        background-color: var(--secondary_2);
        border:0;
        width:50%;
        left:0px;
        color:var(--white);
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    header section aside a:before{
        content:"Explore";
        margin-right: 20px;
        color:var(--white);
    }

    .btn_header{
        font-size: 1.1rem;
    }
}

/* For Desktop View */
@media screen and (max-width: 624px) {

  }
  
  /* For Tablet View */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
  
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    header article div img{
        display: inline-flex;
        flex-direction: column;
        width: 60%;
    }

    header section{
        width:100%;
        position:absolute;
        bottom: -33rem;
        left:50%;
        transform:translate(-50%, 2rem);
    }
    
    .text{
        font-size: 0.9rem;
    }

    .btn_header{
        font-size: 1rem;
    }

    header section aside p {
        font-size: 100%;
        padding: 10px 0;
        font-weight: 500;
    }
  }
  
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px) and (orientation: landscape) {}
  
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {}
  
  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}
  
  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}
  
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}
