<div class="container class">
    <div>
        <h1></h1>
    </div>
    <div class="column">
        <div class="card">
            <div class="content">
                <div class="front">
                    <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
                    <p class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus
                        reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="front">
                    <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
                    <p class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus
                        reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="front">
                    <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
                    <p class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus
                        reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="front">
                    <h2>Cristiano Ronaldo</h2>
                </div>
                <div class="back from-bottom">
                    <p class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus
                        reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='slider'>
    <input name="input-slider" id='input-slide-1' type="radio" class='input-slide input-slide-num'>
    <input name="input-slider" id='input-slide-2' type="radio" class='input-slide input-slide-num'>
    <input name="input-slider" id='input-slide-autoplay' type="radio" class='input-slide' checked>
    <div class='slide-description'>
        <label class='slide-0'>
            <div class="text-slide">
                <div class="container">
                    <div class="parent">
                        <div class="carder">
                            <h1 class="card-title">SOC</h1>
                            <p class="card-content" style="padding-bottom: 30px; padding-top: 20px;">
                                (“ISOC” or “SOC”)
                            </p>
                            <a class="explore" href="/services"> explore more</a>
                        </div>
                    </div>
                </div>
            </div>
        </label>
        <label class='slide-1'>
            <div class="text-slide">
                <div class="container">
                    <div class="parent">
                        <div class="carder">
                            <h1 class="card-title">CSPA</h1>
                            <p class="card-content" style="padding-bottom: 30px; padding-top: 20px;">
                                (“ISOC” or “SOC”)
                            </p>
                            <a class="explore" href="/services"> explore more</a>
                        </div>
                    </div>
                </div>
            </div>
        </label>
        <label class='slide-2'>
            <div class="text-slide">
                <div class="container">
                    <div class="parent">
                        <div class="carder">
                            <h1 class="card-title">Managed Security Services</h1>
                            <p class="card-content" style="padding-bottom: 30px; padding-top: 20px;">
                                (“ISOC” or “SOC”)
                            </p>
                            <a class="explore" href="/services"> explore more</a>
                        </div>
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class='slider-dot'>
        <label class='slide-0' for='input-slide-autoplay'></label>
        <label class='slide-1' for='input-slide-1'></label>
        <label class='slide-2' for='input-slide-2'></label>
    </div>
</div>