/*HEADER*/

main {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 60px);
    background: linear-gradient(to right, rgba(1, 1, 1, 0.9) 10%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/header_img/futuristic-smart-city-with-5g-global-network-technology.jpg");
    background-size: cover;
    background-position: left;
    align-items: center;
    justify-content: left;
    color: var(--white);
    position: relative;
}

.section {
    margin: 0 auto;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.heading-xl {
    font-family: inherit;
    font-size: clamp(2.3rem, 4vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
    color: var(--lite);
}

.xl {
    font-family: inherit;
    font-size: clamp(1.5rem, 4vw, 1.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
    color: var(--lite);
}

.paragraph {
    color: var(--lite);
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    background: var(--primary);
}

.banner-column {
    position: relative;
    display: grid;
    align-items: center;
    row-gap: 3rem;
}

@media only screen and (min-width: 48rem) {
    .banner-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-column {
        grid-template-columns: 1fr max-content;
        column-gap: 4rem;
        margin-top: 3rem;
    }
}

.banner-image {
    display: block;
    max-width: 18rem;
    height: auto;
    margin-top: 2rem;
    object-fit: cover;
    justify-self: center;
}

@media only screen and (min-width: 48rem) {
    .banner-image {
        order: 1;
        max-width: 20rem;
        height: auto;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-image {
        max-width: 25rem;
        height: auto;
        margin-right: 5rem;
    }
}

.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.75rem;
}

.banner-links {
    position: absolute;
    top: 30%;
    right: 1.5rem;
    display: grid;
    justify-items: center;
    row-gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    color: var(--lite);
}

@media only screen and (min-width: 64rem) {
    .banner-links {
        opacity: 1;
        visibility: visible;
    }
}

.banner-links>* {
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--color-white-100);
}

.banner-links::before {
    position: absolute;
    content: "";
    top: -3rem;
    width: 4rem;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--color-white-100);
}

.banner-links::after {
    position: absolute;
    content: "";
    bottom: -3rem;
    width: 4rem;
    height: 2px;
    transform: rotate(90deg);
    background: var(--color-white-100);
}