<div class="center2">
    <div href="#" class="fle one">
        <h2>Financial Sector</h2>
        <p>Use digital transformation to grow the economy and build capacity.</p>
        <p>
            Read more about this <a href="">Industry</a>
        </p>
    </div>
    <div class="fle twe">
        <h2>Retail Sector</h2>
        <p>Use digital transformation to grow the economy and build capacity.</p>
        <p>
            Read more about this <a href="">Industry</a>
        </p>
    </div>
    <div class="fle three">
        <h2>Government sector</h2>
        <p>Use digital transformation to grow the economy and build capacity.
        </p>
        <a href="">Industry</a>
    </div>
    <div href="#" class="fle four">
        <h2>Financial Sector</h2>
        <p>Use digital transformation to grow the economy and build capacity.</p>
        <p>
            Read more about this <a href="">Industry</a>
        </p>
    </div>
</div>