<div class="py-1 bg-prim">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column justify-content-center p-3 col-lg-7 h_h">
                <h1 class="hero-text-heading text-white">Contact <em>Us</em></h1>
            </div>
            <div class="p-0 col-lg-5 ss"> <img class="img-fluid d-block" src="../../../assets/cont/phone-4070167_1280.png"
                    width="70%"> </div>
        </div>
    </div>
</div>
<div class="gr">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.110591778117!2d27.878466799999995!3d-26.258073899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a71e3977b36d%3A0x5f6125169cef117c!2s2782%20Tunzi%20St%2C%20Moroka%2C%20Soweto%2C%201818!5e0!3m2!1sen!2sza!4v1693482695089!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="px-md-5 p-3 col-md-6 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="">
                        <h2 class="mb-1 text-white">Send Us A Message</h2>
                        <span class="y-us-title-border"></span>
                        <p class="text-white">Drop us a line with any questions, inquiries or business proposals
                        </p>
                        <form>
                            <div class="row">
                                <div class="form-group col-md-6 pb-2"> <input type="text" class="form-control"
                                        id="form27" placeholder="Name"> </div>
                                <div class="form-group col-md-6 pb-2"> <input type="email" class="form-control" id="form28"
                                        placeholder="Email"> </div>
                            </div>
                            <div class="form-group pb-2"> <input type="text" class="form-control" id="form29"
                                    placeholder="Subject"> </div>
                            <div class="form-group pb-2">
                                <textarea class="form-control" id="form30" rows="3" placeholder="Your message">
                                </textarea>
                            </div>
                            <button type="submit" class="cb_btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="py-5 bg-prim">
        <div class="container">
            <div class="row">
                <div class="text-center mx-auto col-md-12 text-white">
                    <h1>Our Lines</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 p-3">
                    <div class="card text-center text-dark">
                        <div class="card-body p-4">
                            <h5>Office</h5>
                            <p>0812345678</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card text-center text-dark">
                        <div class="card-body p-4">
                            <h5>Info</h5>
                            <p>0812345678</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card text-center text-dark">
                        <div class="card-body p-4">
                            <h5>Support</h5>
                            <p>0812345678</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>