<div class="ff padding_top_1x">
    <div class="flex"> 
        <section class="contact-container">
          <div class="contact-logo">
            
          </div>
          <form class="contact-form">
            <div class="heading">
              <h2>CONTACT US</h2>
              <p>feel free to reach out to us, we'd love to hear from you!</p>
            </div>
            <div class="input">
              <i class="fa fa-user"></i>
              <input name="username" type="text" placeholder="Full Name" />
            </div>
            <div class="input">
              <i class="fa fa-envelope"></i>
              <input name="email" type="email" placeholder="Email" />
            </div>
            <div class="input">
              <i class="fa fa-message"></i>
              <textarea
                name="message"
                cols="30"
                rows="10"
                placeholder="Message"
                style="resize: none"
              ></textarea>
            </div>
            <input class="button" type="button" value="Submit" />
          </form>
          <div class="contact-info">
            <h3 class="heading">OUR INFORMATIONS</h3>
            <ul class="contacts">
              <li>
                <i class="fa fa-map-marker"></i>
                2782 Tunzi Street Rockville Moroka Johannesburg South Africa 
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                info@projectedit.co.za
              </li>
              <li>
                <i class="fa fa-phone"></i>
                +27 63 279 0215 
              </li>
            </ul>
            <div class="social-links"></div>
          </div>
        </section>
    </div>
</div>

