.center_1 {
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 144px 0px;
    border-radius: 4px;
    background-color: var(--lite);
    max-width: 1600px;
}

.max {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}

.contact-form {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.contact-form .heading {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.contact-form .input {
    position: relative;
    margin-bottom: 24px;
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: black;
}

.contact-form .input input,
.contact-form .input textarea {
    width: 100%;
    padding: 8px 8px 8px 42px;
    border: 0.15rem solid var(--secondary_2);
    border-radius: 4px;
    background-color: none;
    font-size: 14px;
    outline-style: none;
}

.contact-form .input i {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #4b5563;
}

.contact-form .button {
    padding: 12px 36px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary_2);
    box-shadow: inset 0 -2px 4px 0 var(--dark);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.contact-info {
    padding: 96px 48px;
    color: #000000;
}

.map-card {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.map-card iframe {
    width: 100%;
    height: 100%;
}

.flex__ {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.flex_ {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flex_ div {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    max-width: 1200px;
}

.flex_ div div {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}



@media screen and (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
        margin: 0;
    }

    .contact-logo {
        display: none;
    }
}



/*HEADER*/
header {
    width: 100%;
    background: linear-gradient(150deg, var(--primary) 30%, rgba(1, 1, 1, 0.01) 100%), url('../../../assets/img/pawel-czerwinski--0xCCPIbl3M-unsplash.jpg');
    background-size: cover;
    background-position: left;
    align-items: center;
    justify-content: left;
    color: var(--white);
    position: relative;
    filter: brightness(100%);
}

em {
    color: var(--secondary);
}


header article {
    width: 100%;
    height: calc(40vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

header article .title {
    font-weight: 900;
    font-size: 6rem;
}

@media (max-width:920px) {
    header article {
        width: 100%;
        padding: 4rem 1rem;
    }



    header section aside a:before {
        content: "Explore";
        margin-right: 5px;
        color: var(--white);
    }

    header article .title {
        font-weight: 900;
        font-size: 5rem;
    }
}

.fa {
    background-color: transparent;
    color: var(--dark);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0px;
}

/* For Desktop View */
@media screen and (min-width: 924px) {
    .fa {
        background-color: var(--dark);
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 30px;
    }

}

.maxi {
    max-width: 1624px;
}

/* For Desktop View */
@media screen and (max-width: 524px) {
    .flex_ {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .flex_ div {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .fa {
        background-color: var(--dark);
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 30px;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    h1 {
        font-size: 2.3rem;
    }

    header article .title {
        font-weight: 900;
        font-size: 3.4rem;
    }

    .flex_ {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .flex__ {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
  
    .flex_ div {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}