<header class="flex">
    <article>
        <h1 class="title big">About <em>Us</em></h1>
    </article>
</header>
<div class="about-section">
    <div class="inner-container">
        <h1>Who We Are</h1>
        <p class="text">
            Since our inception in 2020, Projected IT has been at the forefront of driving digital transformation for businesses across diverse industries. Our journey began as a freelance company, fueled by a passion for technology and a vision to help businesses thrive in an increasingly digital world.
        </p>
        <p class="text">
            As we grew, we realized the immense potential of IT solutions and the impact they can have on businesses' efficiency, productivity, and growth. This realization led us to expand our team of skilled professionals, enabling us to offer a comprehensive suite of IT services to our clients.
        </p>
        <h1>Our Expertise</h1>
        <p class="text">
            At Projected IT, we possess deep industry knowledge and hands-on experience in a wide range of IT domains. Our team of highly skilled professionals specializes in areas such as managed IT services, cloud computing, cybersecurity, network infrastructure, and software development. We leverage our expertise to deliver innovative, reliable, and scalable solutions that empower our clients to achieve their business objectives.
        </p>
        <h1>Our Approach</h1>
        <p class="text">
            We believe that every business is unique, with its own set of challenges and requirements. We are committed to understanding your business objectives, challenges, and opportunities to develop solutions that align with your vision. Our collaborative approach allows us to work closely with you, leveraging our technical expertise to create innovative solutions that deliver tangible results.
        </p>
        <p class="text">
            We pride ourselves on our commitment to excellence and continuous improvement. We stay ahead of the curve by keeping up with emerging technologies and industry trends, ensuring that our clients benefit from the latest advancements. With a client-centric focus, we strive to exceed your expectations, providing personalized attention and support throughout your digital transformation journey.
        </p>
    </div>
</div>
<section class="our-team-section">
    <div class="mout">
        <h1>Meet Our Team</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Team 1</h3>
                        <span class="post">Inhaber </span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="#"  target="_blank"class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Team 2</h3>
                        <span class="post">Geschäftsführer</span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Team 3</h3>
                        <span class="post">Physiotherapeut </span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Team 4</h3>
                        <span class="post">Physiotherapeut </span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
