/*HEADER*/
header {
    width: 100%;
    background: linear-gradient(150deg, var(--primary) 30%, rgba(1, 1, 1, 0.01) 100%), url('../../../assets/header_img/futuristic-smart-city-with-5g-global-network-technology.jpg');
    background-size: cover;
    background-position: left;
    align-items: center;
    justify-content: left;
    color: var(--white);
    position: relative;
    filter: brightness(100%);
}

em{
    color: var(--secondary);
}


header article {
    width: 100%;
    height: calc(40vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

header article .title {
    font-weight: 900;
    font-size: 6rem;
}

.our-team-section{
    width: 100%;
}


.row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.about-section{
    background: url(https://fadzrinmadu.github.io/hosted-assets/responsive-about-us-section-using-html/pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 60px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 1rem;
    color: #545454;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 25px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 20px;
    }
    
    header article {
        width: 100%;
        height: calc(40vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}


.our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: var(--secondary);
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";

    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.mout h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.our-team {
    border-radius: 5px;
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid var(--secondary_2);
}
.our-team:hover{
    border-bottom: 5px solid var(--secondary_2);
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--secondary_2);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 height: 100%;
    background: var(--primary); 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
    background: var(--secondary_2);
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--primary);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #2f2f2f;
    background: #f7f5ec;
}

.our-team-section .container {
    width: 100%;
    justify-content: center;
    display: inline-flex;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
    .row{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 700px;
    }
}

@media only screen and (max-width: 690px){
    .our-team{ margin-bottom: 30px; }
    .row{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        max-width: 350px;
    }

}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    header article .title {
        font-weight: 900;
        font-size: 3rem;
    }

    header article {
        width: 100%;
        height: calc(40vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}