<header class="header">
    <div class="header-background"></div>
    <div class="header-content">
        <div class="">
            <h1 class="hero-text-heading">Bridging Vision and Innovation</h1>
        </div>
        <div>
            <!-- <img src="../../../assets/home/845-removebg-preview.png" alt=""> -->
        </div>
    </div>
</header>
<div class="py-5 background-image">
    <div class="container">
        <div class="row">
            <div class="p-3 col-lg-8 ">
                <h1>About Us</h1>
                <span class="y-us-title-border_"></span>
                <h4 class="py-3">Unveiling the Journey of Projected IT</h4>
                <p class="mb-1">
                    Welcome to Projected IT, where innovation, expertise, and transformation converge. What began as a freelancing odyssey in 2019 has blossomed into a comprehensive technological powerhouse by 2022. We are proud to have evolved from a solo endeavor to a full-fledged company that specializes in applications, design, and consultations.
                </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-6"> <img class="img-fluid d-block"
                src="../../../assets/sol/year-6786741_1280.jpg">
            </div>
            <div class="px-md-5 p-3 col-md-6 d-flex flex-column justify-content-center">
                <div class="p-3">
                    <h1>Our Genesis</h1>
                    <span class="y-us-title-border"></span>
                    <h4 class="py-3">Through Freelancing</h4>
                    <p class="mb-1">
                        The Projected IT saga commenced in 2019 when a lone visionary embarked on a freelancing quest. Armed with passion and a profound love for crafting digital marvels, our founder set the wheels in motion for what would become an awe-inspiring journey. As we look back, we cherish the foundation laid by those early days of creative independence.
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="px-md-5 p-3 col-md-6 d-flex flex-column justify-content-center">
                <h1>Our Evolution</h1>
                <span class="y-us-title-border"></span>
                <h4 class="py-3">Forging Excellence</h4>
                <p class="mb-1">
                    Fast forward to 2022, and Projected IT stands tall as a testament to unwavering dedication, growth, and excellence. Our evolution from a freelancing maverick to a holistic technology company is a tribute to our team's resilience, adaptability, and unquenchable thirst for progress.
                </p>
            </div>
            <div class="col-md-6"> <img class="img-fluid d-block"
                src="../../../assets/home//fly.jpg">
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-white bg-prim">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-12">
                <h1 class="mb-3">Meet the Founders</h1>
                <span class="y-us-title-border "></span>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle"
                    src="../../../assets/tt/1604399550770.jpeg" alt="Card image cap" width="200">
                <h4> <b>S. Dubazana</b> </h4>
                <p class="mb-0">CIO and founder</p>
            </div>
            <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle"
                    src="../../../assets/tt/1604399550770.jpeg" alt="Card image cap" width="200">
                <h4> <b>N. Khumalo</b> </h4>
                <p class="mb-0">CEO founder</p>
            </div>
            <div class="col-lg-4 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle"
                src="../../../assets/tt/1604399550770.jpeg" width="200">
                <h4> <b>J. G. Wolf</b> </h4>
                <p class="mb-0">Evangelist</p>
            </div>
        </div>
    </div>
</div>
<div class="py-3" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-4">
          <h3>Our Philosophy</h3>
          <span class="y-us-title-border "></span>
          <h5>Unity and Innovation</h5>
          <p>Unity is strength, and innovation fuels progress. At Projected IT, we embody this philosophy. Our team isn't just a workforce; it's a tapestry of talents, perspectives, and dreams. From seasoned veterans to budding talents, we collaborate, ideate, and innovate, keeping our finger on the pulse of evolving technologies to infuse cutting-edge solutions into every venture.</p>
        </div>
        <div class="col-md-6 p-4">
          <h3>Our Pledge</h3>
          <span class="y-us-title-border "></span>
          <h5>Pursuit of Excellence</h5>
          <p>Excellence isn't a destination; it's a relentless journey. From inception to completion, Projected IT pledges excellence in every aspect. Our pursuit of excellence fuels design brilliance, technical wizardry, and insightful consultation. We aim not just to meet expectations but to exceed them consistently.</p>
        </div>
      </div>
    </div>
  </div>