<div class="app-container">
  <mat-toolbar>
    <button mat-icon-button class="manubtn" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img src="../assets/logo/gold.svg" alt="" width="35px"><h3>Projected IT</h3></span>
    <span class="spacer"></span>
    <div class="top-links">
      <a href="home">Home</a>
      <a href="about">About</a>
      <a href="solutions">Solutions</a>
      <a href="contact">Contact</a>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <div class="side-links">
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="solutions">Solutions</a>
        <a href="contact">Contact</a>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
    <app-footbar></app-footbar>
  </mat-drawer-container>
</div>