<mat-toolbar class="ct">
  <div class="mx">
    <button mat-icon-button class="iconbtn" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Projected IT</span>
    <span class="spacer"></span>
    <a href="">Home</a>
    <a href="">Solutions</a>
    <a href="">About</a>
    <a class="cnt-us" href="">Contact Us</a>
  </div>
</mat-toolbar>
<mat-drawer-container class="container" hasBackdrop="True">
  <mat-drawer #drawer [mode]="'over'">
    <div class="in">
      <a href="">Home</a>
      <a href="">Solutions</a>
      <a href="">About</a>
      <a href="">Contact Us</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>


    <!--FOOTER-->
    <footer class="padding_4x">
      <div class="footer_body flex">
        <section class="flex_content padding_1x">
          <figure class="logo fixed_flex">
            <figcaption>
               logo
            </figcaption>
          </figure>
          <a href="#">
            <i class="fa fa-map-marker"></i>
            Plot No: 431 First floor, Kakrola Housing Complex, Opp Pillar No: 794, , Near Dwarka More Metro Station,
            Delhi 110078.
          </a>
          <a href="emailto:info@schotest.com">
            <i class="fa fa-envelope-o"></i>
            info@projectit.co.za
          </a>
          <a href="tel:9315514145">
            <i class="fa fa-headphones"></i>
            9315514145
          </a>
        </section>
        <section class="flex_content padding_1x">
          <h3>Quick Links</h3>
          <a href="#">Admission</a>
          <a href="#">Prospectus</a>
          <a href="#">Student registration</a>
          <a href="#">Staff registration</a>
        </section>
        <section class="flex_content padding_1x">
          <h3>Other Links</h3>
          <a href="#">About us</a>
          <a href="#">contact us</a>
          <a href="#">Raise a ticket</a>
          <a href="#">Terms & conditions</a>
        </section>
        <section class="flex_content padding_1x">
          <h3>Newsletter</h3>
          <p>You can trust us. we only send important notifications related to Technology.</p>
          <fieldset class="fixed_flex">
            <input type="email" name="newsletter" placeholder="Your Email Address">
            <button class="btn btn_2">Subscribe</button>
          </fieldset>
        </section>
      </div>
      <div class="flex">
        <section class="flex-content padding_1x">
          <p>Copyright ©2020 All rights reserved || Projected IT</p>
        </section>
        <section class="flex-content padding_1x">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </section>
      </div>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>