.app-container {
    background: var(--lite);
}

mat-toolbar {
    background-color: var(--primary);
    position: -webkit-sticky;
    position: static;
    top: 0;
    height: 50px;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.top-links a {
    display: inline-flex;
    justify-content: center;
    padding:  5px 0;
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    width: 6rem;
    border-radius: 5px;
    color: var(--secondary);
}

.top-links a:hover {
    background-color: var(--secondary);
    padding: 5px 20px;
    color: var(--primary);
}

mat-drawer-container{
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
}

mat-drawer {
    background-color: var(--primary);
    width: 50%;
    display: none;
}

.side-links {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding:  5px 0;
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    width: 7rem;
    border-radius: 5px;
}

.side-links a {
    display: inline-flex;
    padding:  5px 0;
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    width: 7rem;
    border-radius: 5px;
}

.side-links a:hover {
    background-color: var(--secondary);
    padding: 5px 20px;
}

.manubtn{
    background-color: var(--secondary);
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* For Desktop View */
@media screen and (max-width: 684px) {
    .top-links a {
        display: none;
    }

    mat-drawer {
        display: block;
    }

    .manubtn{
        display: block;
    }
}


/* For Desktop View */
@media screen and (min-width: 1024px) {}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}