<header class="flex">
    <article>
        <h1 class="title big">Transforming businesses through cutting-edge <em>Application</em> Solutions</h1>
    </article>
</header>
<div class="center intro">
    <h1>
        Revolutionize Your Business with Projected IT's Intelligent Application Solutions
    </h1>
    <p>
        Projected IT Business and Enterprise Application solutions empower your organization with cutting-edge business
        tools that optimize and digitize your core processes, resulting in enhanced productivity and efficiency. Our
        comprehensive suite of services encompasses a wide range of solutions, including communication systems, bespoke
        application development, ongoing maintenance, outsourcing options, as well as robust Enterprise solutions such
        as customer relationship management and supplier relationship management systems. By leveraging our expertise,
        Projected IT emerges as the forefront leader in delivering top-notch Application offerings to the industry.
    </p>
</div>
<div class="center">
    <div class="row">
        <div class="category-card">
            <div class="content">
                <span class="tag">Applications</span>
                <h2>Custom Application Development</h2>
                <p><mat-icon>forward</mat-icon>Web Application Development</p>
                <p><mat-icon>forward</mat-icon>Mobile Application Development</p>
                <p><mat-icon>forward</mat-icon>Application Modernisation</p>
            </div>
            <button>
                <span>Learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                </svg>
            </button>
        </div>
        <div class="category-card">
            <div class="content">
                <span class="tag">Applications</span>
                <h2>Artificial Intelligence and Intelligent Automation</h2>
                <p>
                    In today's fast-paced world, businesses are constantly seeking innovative ways to stay ahead of the competition. Two technologies that have emerged as game-changers in this regard are Artificial Intelligence (AI) and Intelligent Automation. By harnessing the power of AI and Intelligent Automation, organizations can streamline operations, enhance efficiency, and drive unprecedented growth.
                </p>
            </div>
            <button>
                <span>Learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                </svg>
            </button>
        </div>
        <div class="category-card">
            <div class="content">
                <span class="tag">Applications</span>
                <h2>Enterprise Application Solutions</h2>
                <p><mat-icon>forward</mat-icon>Microsoft</p>
                <p><mat-icon>forward</mat-icon>AWS</p>
                <p><mat-icon>forward</mat-icon>Google</p>
            </div>
            <button>
                <span>Learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                </svg>
            </button>
        </div>
        <div class="category-card">
            <div class="content">
                <span class="tag">Applications</span>
                <h2>Human Capital Management</h2>
                <p><mat-icon>forward</mat-icon>HR & Payroll</p>
                <p><mat-icon>forward</mat-icon>Training</p>
                <p><mat-icon>forward</mat-icon>Recruitment</p>
            </div>
            <button>
                <span>Learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="ibg">
    <h1>Get in Touch</h1>
    <p>
        Ready to take your business to new heights?<br>
        Contact us today to discuss your project requirements, and let us show you how ProjectedIT can be your catalyst for success.
    </p>
    <a class="git" href="contact">
        Get in Touch
    </a>
</div>