.padding_top_1x {
    margin-top: 7rem;
}

.padding_top_2x {
    margin-top: 1rem;
}

.why_text {
    padding: 20px;
}

.explore {
    border: solid 0.15rem var(--primary);
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--primary);
    font-weight: 600;
}

.explore:hover {
    border: solid 0.15rem var(--breaker);
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--breaker);
    font-weight: 600;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img_ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img img {
    border-radius: 10px;
    width: 100%;
}

.img_ img {
    border-radius: 10px;
    width: 50%;
}

.containerize {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: teal;
}

.ff {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.fff {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--dark);
    color: white;
}

.flex {
    max-width: 1220px;
    align-items: center;
    padding: 20px;
}

.griditem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.griditem P {
    font-size: 1rem;
    font-weight: 500;
}

.space {}

._1 {
    position: absolute;
    box-shadow: 0 0 150px 100px #e10700a0;
    z-index: -1;
}

.grid-item .a1 {
    color: var(--primary);
    font-weight: 600;
}

._2 {
    position: absolute;
    box-shadow: 0 0 150px 100px #a5e41c9e;
    z-index: -1;
}

.grid-item .a2 {
    color: var(--secondary);
    font-weight: 600;
}

._3 {
    position: absolute;
    box-shadow: 0 0 150px 100px #34bcdaa2;
    z-index: -1;
}

.grid-item .a3 {
    color: var(--blendering);
    font-weight: 600;
}

._4 {
    position: absolute;
    box-shadow: 0 0 150px 100px #434eb0a9;
    z-index: -1;
}

.grid-item .a4 {
    color: var(--breaker);
    font-weight: 600;
}

.grid-item a:hover {
    color: var(--dark);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 20px;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        gap: 20px;
    }

    .grid-item {
        padding: 20px;
    }
}

/* For Tablet View */
@media screen and (max-width: 624px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        gap: 20px;
    }
    
    .why_text {
        text-align: center;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .padding_top_1x {
        margin-top: 2rem;
    }

    .padding_top_2x {
        margin-top: 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        gap: 20px;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}