.in h2 {
    padding: 50px 150px;
    font-weight: 900;
    text-align: center;
}

.in p {
    padding: 0 50px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.spla {
    width: 100%;
    border: solid 1px var(--breaker);
}

.inda1 {
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.9) 10%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/header_img/futuristic-smart-city-with-5g-global-network-technology.jpg");
    background-size: cover;
}

.inda2 {
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.9) 10%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/indastries/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
    background-size: cover;
}

.inda3 {
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.9) 10%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/indastries/eaters-collective-i_xVfNtQjwI-unsplash.jpg");
    background-size: cover;
    color: var(--late);
}

.inda4 {
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.9) 10%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/indastries/matt-botsford-OKLqGsCT8qs-unsplash.jpg");
    background-size: cover;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.center2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

.fl {
    box-shadow: 0px 0px 20px 0px var(--secondary);
    width: 100%;
    padding: 20px;
    margin: 30px 20px;
}

.fl a {
    text-align: center;
    background: var(--secondary);
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.m a {
    text-align: center;
    background: var(--secondary);
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.git {
    width: 100%;
    height: 300px;
    background: black;
    color: var(--lite);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.git h3 {
    font-size: 40px;
    font-weight: 900;
}

.git a {
    background: var(--primary);
    border-radius: 5px;
    font-weight: 900;
    padding: 5px 20px;
}

.fle{
    border-bottom: solid 3px var(--breaker);
    text-align: center;
}

.fle a {
    text-align: center;
    background: var(--breaker);
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.e a {
    text-align: center;
    background: var(--breaker);
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}



@media (max-width:1020px) {
    .flex {
        flex-wrap: wrap;
    }

    .fl {
        box-shadow: 0px 0px 20px 0px var(--secondary);
        margin: 10px 0px;
        width: 100%;
        color: var(--late);
        padding: 30px 10px;
    }
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.medium{
    font-size:2em;
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .title_header{
        width:100%;
    }

    .in h2 {
        padding: 50px 50px;
        font-weight: 900;
        text-align: center;
    }
}


/*division_2*/
.division_2{
    align-items:center;
    display:grid;
    grid-template-columns: 50% 50%;
    padding:0 4rem;
}

.division_2 .title_header{
    width:100%;
    text-align:left;
}

.division_2 .flex_content:first-child{
    background: rgba(0, 0, 0, 0.3);
}

.division_2 .flex_content:last-child{
    background:var(--secondary);
}


.division_2 #notification article .title{
    margin:0;
    position:relative;
    top:10px;
    font-size:0.9rem;
}

@media (max-width:920px){
    .division_2{
        margin-top:0rem;
        display:block;
        padding:1rem;
    }
}


.bar_blue, .bar_white{  
    display:block;
    width:200px;
    height:3px;
    margin: 50px 0;
}

.bar_blue{
    background:var(--primary);
}

.bar_white{
    background:var(--breaker);
}