.wd{
    width: 100%;
}
.pd-tb{
    padding: 5rem 0;
}

.top {
    margin-top: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    display: inline-flex;
}

.mx {
    max-width: 1100px;
    padding: 1rem;
    width: 100%;
}

.pd-1 {
    padding: 1rem;
}

.card_ {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff2a;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    transition: height 1s ease-in-out;
    padding: 1rem;
    margin: 1rem;
}

.card {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: height 1s ease-in-out;
    padding: 1rem;
    margin: 1rem;
}

.card.animated {
    height: 100%;
}

.card-content {
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1.5rem;
}

.card-content h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.card-content p {
    margin-top: 1rem;
}

.line_ {
    height: .3rem;
    width: 50%;
    background-color: rgb(0, 255, 200);
    display: flex;
}

.line_x1 {
    height: .1rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.user-card-img_ {
    width: 100%;

}

.user-card-img_ img {
    width: 100%;
}

.sol h1{
    font-size: 3rem;
    font-weight: 900;
}


.git{
    background-color: rgb(0, 255, 200);
    filter: brightness(1.5);
}

.git h1 {
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    color:#003848ff;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: none;
}

.git a {
    background-color: #003848ff;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}

.section {
    padding: 50px 0px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1100px));
    grid-gap: 20px 20px;
    justify-content: center;
    align-items: baseline;
}

.grid-row .grid-item span {
    padding: 10px;
    line-height: 1;
}

.grid-row .grid-item h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.grid-row .grid-item:hover {
    filter: contrast(0.7);
}

.grid-row .grid-item {
    transition: filter 0.5s ease;
    display: flex;
    cursor: pointer;
    background: var(--light);
    box-shadow: var(--shadow);
    color: var(--dark);
    text-align: center;
    font-family: sans-serif;
    flex-direction: column-reverse;
    align-items: stretch;
}












.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.user-card-img img {
    width: 100%;
    border-radius: 50%;
}

.user-card-info {
    width: 100%;
}

.user-card-info h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
}

.user-card-info p {
    font-size: 14px;
    margin-bottom: 2px;
}

.user-card-info p span {
    font-weight: 700;
    margin-right: 10px;
}

@media only screen and (min-width: 768px) {
    .user-card {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        width: 100%;
    }

    .user-card-img {
        margin-bottom: 0;
    }

    .user-card-info {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding-top: 3%;
    }

    .user-card:before {
        width: 300%;
        height: 200px;
        transform: rotate(0);
    }

    .user-card-info h2 {
        margin-top: 25px;
        font-size: 35px;
    }

    .user-card-info p span {
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
    }
}


*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(https://fadzrinmadu.github.io/hosted-assets/responsive-about-us-section-using-html/pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.tech{
    background-color: #003848ff;
}