<app-header></app-header>
<div class="intro ct pd_1">
    <div class="inline mx_ wbg">
        <div class="intro-txt">
            <h1>
                Projected IT, your trusted partner in harnessing the power of technology to drive your business forward
            </h1>
            <p>
                At Projected IT, we believe that technology has the potential to transform businesses and elevate their
                success to new heights. Established in 2020 as a humble freelance company, we have rapidly evolved into
                a trusted partner for organizations seeking innovative IT solutions. With our extensive expertise and
                unwavering commitment, we empower businesses to thrive in the digital age. With our team of highly
                skilled professionals,
                we bring expertise, creativity, and a customer-centric approach to every project we undertake.
            </p>
        </div>
        <div class="bgg">
            
        </div>
    </div>
</div>

<div class="ct pd_1 sol">
    <div class="mx_">
        <div class="wcu-txt_">
            <p>
                OUR EXPERT SERVICES
            </p>
            <h1>
                Discover Projected IT Advantage
            </h1>
            <p class="wcu-txt">
                Unlocking the potential of industries with cutting-edge IT solutions and driving digital growth.
            </p>
        </div>
        <div class="cards">
            <div class="card" #cardElements>
                <div class="card__infos">
                    <h3 class="card__name">Application</h3>
                    <div class="card__author">
                        <div>
                            <img src="../../../assets/home/social-media-5187243_1280-removebg-preview.png" alt="" width="100%">
                        </div>
                        <div>
                            <a>
                                Discover endless possibilities with our diverse range of applications designed to revolutionize your digital experience.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card" #cardElements>
                <div class="card__infos">
                    <h3 class="card__name">Design</h3>
                    <div class="card__author">
                        <div>
                            <img src="../../../assets/home/social-media-5187243_1280-removebg-preview.png" alt="" width="100%">
                        </div>
                        <div>
                            <a>
                                First impressions matter, and our design services ensure that your digital presence stands out.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card" #cardElements>
                <div class="card__infos">
                    <h3 class="card__name">Consultation</h3>
                    <div class="card__author">
                        <div>
                            <img src="../../../assets/home/social-media-5187243_1280-removebg-preview.png" alt="" width="100%">
                        </div>
                        <div>
                            <a class="card__author">
                                Unlock your potential with expert guidance through personalized consultations tailored to your unique needs.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="card__author" active>
            Unlock your potential with expert guidance through personalized consultations tailored to your unique needs.
        </a>
    </div>
</div>
<div class="ct pd_1 git">
    <div class="inline ct mx">
        <div>
            <h1>
                What to talk software solutions
            </h1>
            <p>
                Contact us today to discuss your IT requirements and discover how we can help you thrive in the digital
                age.
            </p>
        </div>
        <span class="spacer"></span>
        <div>
            <a href="">SPEAK TO AN EXPERT</a>
        </div>
    </div>
</div>