<app-header></app-header>
<div class="center bg">
    <div class="max flex">
        <div class="img">
            <img src="../../../assets/img/fly.jpg" alt="">
        </div>
        <div class="why_text">
            <h1>
                ProjectedIT, your trusted partner in harnessing the power of technology to drive your business forward.
            </h1>
            <p>
                At ProjectedIT, we pride ourselves on our ability to understand your unique business challenges and provide tailored solutions that meet your specific needs. With our team of highly skilled professionals, we bring expertise, creativity, and a customer-centric approach to every project we undertake.
            </p>
            <a class="explore" href="explore">Explore More  <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
<section class="bg center">
    <div class=" flex max">
        <aside class="padding_1x">
            <h2 class="sub_title">Digital Transformation</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Applications</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Consultation</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </aside>
    </div>
</section>