<header class="flex">
    <article>
        <h1 class="title big">Unlock Your Creative Potential with Our Design </h1>
    </article>
</header>
<div class="center intro">
    <h1>
        We are your go-to destination for all your design needs
    </h1>
    <p>
        Discover a world of limitless possibilities as we unlock your creative potential.
        Whether you're looking to enhance your brand, create stunning visuals, or build an engaging website, we've got you covered.
        From logo design to web development, our comprehensive range of services caters to individuals, small businesses, and large enterprises. We combine artistic flair with strategic thinking to ensure that every design element aligns with your goals.
    </p>
</div>
<div class="center">
    <div class="row">
        <div class="category-card">
            <div class="content">
                <h2>Graphic Design</h2>
                <p>
                    Our team of skilled graphic designers brings creativity and expertise to every project. From eye-catching brochures and flyers to stunning social media graphics, we create visuals that communicate your message effectively.
                </p>
            </div>
        </div>
        <div class="category-card">
            <div class="content">
                <h2>Web and Application Design</h2>
                <p>
                    We design and develop engaging and user-friendly websites that not only look stunning but also provide a seamless browsing experience. Our websites are optimized for performance and responsiveness across all devices.
                </p>
            </div>
        </div>
        <div class="category-card">
            <div class="content">
                <h2>UI/UX Design</h2>
                <p>
                    We prioritize user experience and interface design to create intuitive and visually appealing digital products. Whether it's a mobile app or a website interface, we ensure that every interaction is seamless and delightful for your users.
                </p>
            </div>
        </div>
        <div class="category-card">
            <div class="content">
                <h2>Social Media Design</h2>
                <p>
                    Enhance your social media presence with captivating and on-brand visuals. We create customized graphics, cover images, and social media templates that help you stand out in the crowded digital landscape.
                </p>
            </div>
        </div>
        <div class="category-card">
            <div class="content">
                <h2>Illustration and Icon Design</h2>
                <p>
                    Our talented illustrators bring imagination and creativity to life through unique illustrations and icons. Whether you need custom illustrations for your website or icons for your app, we deliver engaging and visually appealing designs.
                </p>
            </div>
        </div>
        <div class="category-card">
            <div class="content">
                <h2>Motion Graphics</h2>
                <p>Add a dynamic touch to your brand with attention-grabbing motion graphics. Our experts create animated videos, explainer videos, and motion graphics that effectively communicate your message and engage your audience.</p>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <div class="intro">
        <p>
            No matter the scope or complexity of your design needs, our comprehensive range of services ensures that we have the expertise to bring your vision to life. Let us take your design projects to the next level!
        </p>
    </div>
</div>
<div class="ibg">
    <h1>Get in Touch</h1>
    <p>
        Ready to take your business to new heights?<br>
        Contact us today to discuss your project requirements, and let us show you how ProjectedIT can be your catalyst
        for success.
    </p>
    <a class="git" href="contact">
        Get in Touch
    </a>
</div>