<header class="flex">
    <article>
        <h1 class="title big">Our <em> Solutions</em></h1>
    </article>
</header>
<div class="center">
    <div class="max">
        <div href="#0" class="banner">
            <div class="banner__grid">
                <div aria-hidden="true">
                    <figure class="banner__figure"
                        style="background-image: url('../../../assets/img/pexels-laura-tancredi-7078884.jpg');">
                    </figure>
                </div>

                <div class="banner__text">
                    <h1>Transforming Businesses with Innovative IT Solutions</h1>
                    <p class="card_description">
                        At Projected IT, we understand that every business is unique, with its own set of challenges and
                        objectives. That's why we offer a wide range of innovative IT solutions tailored to meet your
                        specific needs and drive your business forward. Our team of experts combines technical
                        excellence with industry knowledge to deliver solutions that empower you to achieve your goals.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <h1>Our Solutions</h1>
</div>
<div class="center">
    <div class="row">
        <div class="movie-card">
            <div class="content-card">
                <img src="../../../assets/img/farzad-p-xSl33Wxyc-unsplash.jpg">
                <span class="shadow"></span>
                <div class="content">
                    <h1>Application Development</h1>
                    <p>Our experienced team of developers crafts custom applications tailored to your unique business
                        needs. From web and mobile applications to enterprise software solutions, we leverage the latest
                        technologies to deliver intuitive, scalable, and secure applications that enhance productivity
                        and streamline your operations.</p>
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
            <!----content card--->

            <div class="watch-card">
                <button>Explore More</button>
            </div>
            <!----watch card---->
        </div>
        <div class="movie-card">
            <div class="content-card">
                <img src="../../../assets/img/christina-wocintechchat-com-OW5KP_Pj85Q-unsplash.jpg">
                <span class="shadow"></span>
                <div class="content">
                    <h1>IT Consultations</h1>
                    <p>Make informed decisions about your IT strategy with our expert consultations. Our seasoned
                        consultants have a deep understanding of technology trends and industry best practices. We
                        conduct comprehensive assessments of your current IT infrastructure, identify areas for
                        improvement, and provide strategic recommendations to align your technology investments with
                        your business goals.</p>
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
            <!----content card--->

            <div class="watch-card">
                <button>Explore More</button>
            </div>
            <!----watch card---->
        </div>
        <div class="movie-card">
            <div class="content-card">
                <img src="../../../assets/img/an-tran-xa-X3YICs3s-unsplash.jpg">
                <span class="shadow"></span>
                <div class="content">
                    <h1>Cloud Computing</h1>
                    <p>
                        Harness the power of the cloud to optimize your business processes. Our cloud computing
                        solutions provide you with the flexibility, scalability, and cost-efficiency required to adapt
                        to changing market demands. Whether it's migrating your infrastructure, developing cloud-native
                        applications, or implementing cloud storage solutions, we help you leverage the full potential
                        of cloud technology.
                    </p>
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
            <!----content card--->

            <div class="watch-card">
                <button>Explore More</button>
            </div>
            <!----watch card---->
        </div>
        <div class="movie-card">
            <div class="content-card">
                <img src="../../../assets/img/sr-lVjqkllo034-unsplash.jpg">
                <span class="shadow"></span>
                <div class="content">
                    <h1>Design</h1>
                    <p>
                        First impressions matter, and our design services ensure that your digital presence stands out.
                        We combine creativity with usability to deliver visually stunning and user-friendly interfaces.
                        Our design experts collaborate closely with you to create captivating websites, engaging user
                        experiences, and compelling branding that captivate your target audience.
                    </p>
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
            <!----content card--->

            <div class="watch-card">
                <button>Explore More</button>
            </div>
            <!----watch card---->
        </div>
    </div>
</div>
<div class="center">
    <h1>Why Choose Projected IT?</h1>
</div>
<div class="cards">
    <div class="card" #cardElements active>
        <div class="card__infos">
            <h3 class="card__name">Expertise
            </h3>
            <a class="card__author">
                Our team of seasoned professionals brings a wealth of experience and technical proficiency to the table.
                We stay abreast of the latest industry trends and technologies, ensuring that you receive the most
                innovative solutions.
            </a>
        </div>
    </div>

    <div class="card" #cardElements>
        <div class="card__infos">
            <h3 class="card__name">Collaboration
            </h3>
            <a class="card__author">
                We believe in forging strong partnerships with our clients. By actively involving you throughout the
                process, we ensure that our solutions align perfectly with your vision and requirements.
            </a>
        </div>
    </div>

    <div class="card" #cardElements>
        <div class="card__infos">
            <h3 class="card__name">Quality Assurance</h3>
            <a class="card__author">
                We are committed to delivering excellence in every project we undertake. Our rigorous quality assurance
                processes and attention to detail guarantee that you receive solutions that meet the highest standards
                of performance and reliability.
            </a>
        </div>
    </div>

    <div class="card" #cardElements>
        <div class="card__infos">
            <h3 class="card__name">Customer Satisfaction</h3>
            <a class="card__author">
                Your satisfaction is our top priority. We strive to exceed your expectations by providing prompt,
                responsive support and maintaining open lines of communication throughout our engagement.
            </a>
        </div>
    </div>
</div>
<div class="ibg">
    <h1>Get in Touch</h1>
    <p>
        Ready to take your business to new heights?<br>
        Contact us today to discuss your project requirements, and let us show you how ProjectedIT can be your catalyst for success.
    </p>
    <a class="git" href="">
        Get in Touch
    </a>
</div>