/* -------------------------------- 
Component 
-------------------------------- */

.banner {
  margin: 1rem 0;
  max-width: 1200px;
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  border-radius: 0.375em;
  transition: 0.3s;
  width: 100%;
  margin-inline: auto;
}

.banner__grid {
  display: flex;
  flex-direction: column;
}

.banner__link i {
  /* label */
  position: relative;
  z-index: 2;
  display: inline-block;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.explore {
  color: var(--breaker);
  border-radius: 10px;
  padding: 5px 10px;
  border: 0.15rem solid var(--breaker);
}

.card:hover .explore {
  color: var(--primary);
  border: 0.15rem solid var(--primary);

}

.banner__link::after {
  /* animated border */
  content: "";
  background-color: currentColor;
  height: 2px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-clip-path: inset(0% round 0.1875em);
  clip-path: inset(0% round 0.1875em);
  opacity: 0.15;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.banner__figure {
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/img/sol.jpg");
}

.banner__text {
  padding: 1.5rem;
}

.banner__link-wrapper {
  margin-top: 1rem;
}


@media (min-width: 64rem) {
  .banner__grid {
    flex-direction: row-reverse;
  }

  .banner__grid>* {
    width: 50%;
  }

  .banner__figure {
    height: 100%;
    padding-bottom: 0;
    -webkit-clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 50px 100%);
    clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 50px 100%);
  }

  .banner__text {
    padding: 3rem;
  }

  .banner__link-wrapper {
    margin-top: 1.5rem;
  }

  .banner--invert .banner__grid {
    flex-direction: row;
  }

  .banner--invert .banner__figure {
    -webkit-clip-path: polygon(0% 0%,
        calc(100% - 100px) 0%,
        calc(100% - 50px) 100%,
        0% 100%);
    clip-path: polygon(0% 0%,
        calc(100% - 100px) 0%,
        calc(100% - 50px) 100%,
        0% 100%);
  }

  .banner--invert .banner__text {
    text-align: right;
  }

  .banner--invert .banner__link {
    transform-origin: right bottom;
  }

}

/*HEADER*/
header {
  width: 100%;
  background: linear-gradient(150deg, #000532 25%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.1) 100%), url("../../../assets/img/solutions.jpg");
  background-size: cover;
  background-position: left;
  align-items: center;
  justify-content: left;
  color: var(--white);
  position: relative;
}

header article {
  width: 50%;
  height: calc(50vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

header article .title {
  font-weight: 700;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, var(--dark) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}

.icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
}

.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}

.card:hover h3 {
  color: #ffffff;
}

.card:hover p {
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }

  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
}







.cards {
  --cards-text-color: white;
  --cards-closed-size: 4rem;
  --animation-speed-normal: .5s;
  --animation-speed-fast: .25s;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 20px;
}

.white {
  color: white;
}

.card_ {
  width: 100%;
  height: var(--cards-closed-size);
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  transition: all var(--animation-speed-normal) ease-in-out;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.582);
}

.bg_l {
  background: linear-gradient(170deg, var(--primary) 25%, rgba(1, 1, 1, 0.01) 50%, rgba(255, 255, 255, 0.01) 100%);
}

.bg_r {
  background: linear-gradient(350deg, var(--primary) 25%, rgba(1, 1, 1, 0.01) 50%, rgba(255, 255, 255, 0.01) 100%);
}

.card_[active] {
  height: 50vh;
}

.card__infos {
  position: absolute;
  z-index: 2;
  height: var(--cards-closed-size);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__name {
  margin: 0;
  color: var(--dark);
  transform: translateY(.65rem);
  transition: all var(--animation-speed-normal) ease-in-out;
  font-size: 1.5rem;
}

.card_[active] .card__name {
  transform: translateY(0);
}

.card__author {
  margin: 0;
  color: var(--dark);
  text-decoration: none;
  transform: translateY(.65rem);
  opacity: 0;
  transition:
    opacity var(--animation-speed-fast) ease-in-out,
    transform var(--animation-speed-normal) ease-in-out;
    font-size: 18px;
}

.card_[active] .card__author {
  transform: translateY(0);
  opacity: 1;
}

.card_[active] .card__author:hover {
  opacity: .75;
}

@media screen and (min-width: 640px) {
  .cards {
    max-width: 640px;
    margin: 0 auto;
    flex-direction: row;
  }

  .card_ {
    width: var(--cards-closed-size);
    height: 30rem;
    flex: 0 0 var(--cards-closed-size);
  }

  .card_[active] {
    width: 100%;
    height: 30rem;
    flex: 0 0 calc(640px - 19rem);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .card__name {
    transform: rotate(-90deg) translate(-12rem, -2.25rem);
  }
}

.fff {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--dark);
  color: white;
  align-items: center;
  text-align: center;
  padding: 30px;
}


.explore {
    border: solid 0.15rem var(--primary);
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--primary);
    font-weight: 600;
}

.explore:hover {
    border: solid 0.15rem var(--breaker);
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--breaker);
    font-weight: 600;
}


.img_ {
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.img_ img {
  border-radius: 10px;
  width: 50%;
}