<header class="header">
    <div class="header-background"></div>
    <div class="header-content">
        <div class="animated-text">
            <h1 class="hero-text-heading">Reliable solutions <em>Solutions</em> for real world challenges</h1>
            <div class="links">
                <a href="" class="cb_btn">Call Me Back </a>
            </div>
        </div>
        <div>
            <!-- <img src="../../../assets/home/845-removebg-preview.png" alt=""> -->
        </div>
    </div>
</header>
<div class="py-4 gt">
    <div class="container">
        <div class="row cc">
            <div class="llb col-lg-6">
                <p class="lead">
                    Effortlessly fusing creative imagination with contemporary strategies, we bridge the divide between
                    your digital ambitions and reality by offering adept guidance, inventive design, and proficient
                    development, thereby transcending the limits between innovation and imagination.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div>
            <h1>Development</h1>
            <div class="tabs">
                <input type="radio" name="tabs-dev" id="1-dev" checked="checked">
                <label for="1-dev">Custom Software Development</label>
                <div class="tab">
                    <div class="row cc">
                        <div class=" col-lg-6">
                            <h1 class="">
                                Reliable solutions for real world challenges
                            </h1>
                        </div>
                        <div class="llb col-lg-6">
                            <p class="lead">
                                Effortlessly fusing creative imagination with contemporary strategies, we bridge the divide between
                                your digital ambitions and reality by offering adept guidance, inventive design, and proficient
                                development, thereby transcending the limits between innovation and imagination.
                            </p>
                        </div>
                    </div>
                    <div class="row cc">
                        <div class=" col-lg-6">
                            <h1 class="">
                                <section>
                                    <div class="accordian">
                                      <div class="accordian_head">
                                        <div class="accordian_toggler">+</div>
                                        <span class="accordian_title">Precision and Efficiency</span>
                                      </div>
                                      <div class="accordian_body">
                                        <p class="accordian_description">
                                            Off-the-shelf software often requires you to adapt your processes to the software's limitations. Custom software, however, is designed to mirror your existing workflows, leading to increased efficiency and streamlined operations.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="accordian">
                                      <div class="accordian_head">
                                        <div class="accordian_toggler">+</div>
                                        <span class="accordian_title">Scalability</span>
                                      </div>
                                      <div class="accordian_body">
                                        <p class="accordian_description">
                                            As your business evolves, your software should grow with you. Custom solutions are built to scale, ensuring they can accommodate your expanding user base and evolving requirements without hindering performance.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="accordian">
                                      <div class="accordian_head">
                                        <div class="accordian_toggler">+</div>
                                        <span class="accordian_title"
                                          >Competitive Edge</span
                                        >
                                      </div>
                                      <div class="accordian_body">
                                        <p class="accordian_description">
                                          LCustom software gives you a significant advantage by enabling the development of unique features and functionalities that set your business apart. This innovation can drive customer engagement, loyalty, and market differentiation.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="accordian">
                                      <div class="accordian_head">
                                        <div class="accordian_toggler">+</div>
                                        <span class="accordian_title"
                                          >Enhanced User Experience</span
                                        >
                                      </div>
                                      <div class="accordian_body">
                                        <p class="accordian_description">
                                            By tailoring software to your specific needs, you create a user-friendly experience that resonates with your team and customers. This results in higher satisfaction, better adoption rates, and increased productivity.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="accordian">
                                        <div class="accordian_head">
                                          <div class="accordian_toggler">+</div>
                                          <span class="accordian_title"
                                            >Data Security</span
                                          >
                                        </div>
                                        <div class="accordian_body">
                                          <p class="accordian_description">
                                            Off-the-shelf software is often more susceptible to security vulnerabilities. With custom software development, you can implement advanced security features to safeguard your sensitive data and protect your business's reputation.
                                          </p>
                                        </div>
                                      </div>
                                  </section>
                            </h1>
                        </div>
                        <div class="llb col-lg-6">
                            <p class="lead">
                                Effortlessly fusing creative imagination with contemporary strategies, we bridge the divide between
                                your digital ambitions and reality by offering adept guidance, inventive design, and proficient
                                development, thereby transcending the limits between innovation and imagination.
                            </p>
                        </div>
                    </div>
                    <div class="row cc">
                        <div class=" col-lg-6">
                            <h1 class="">
                                Reliable solutions for real world challenges
                            </h1>
                        </div>
                        <div class="llb col-lg-6">
                            <section>
                                <div class="accordian">
                                  <div class="accordian_head">
                                    <div class="accordian_toggler">+</div>
                                    <span class="accordian_title">Consultation and Planning</span>
                                  </div>
                                  <div class="accordian_body">
                                    <p class="accordian_description">
                                        The process begins with in-depth consultations to understand your business's challenges, goals, and unique requirements. This phase lays the foundation for the development process.
                                    </p>
                                  </div>
                                </div>
                                <div class="accordian">
                                  <div class="accordian_head">
                                    <div class="accordian_toggler">+</div>
                                    <span class="accordian_title">Design and Development</span>
                                  </div>
                                  <div class="accordian_body">
                                    <p class="accordian_description">
                                        Skilled developers craft a detailed blueprint for your software, ensuring that it encompasses all functionalities required. The development phase combines coding expertise with a focus on user experience.
                                    </p>
                                  </div>
                                </div>
                                <div class="accordian">
                                  <div class="accordian_head">
                                    <div class="accordian_toggler">+</div>
                                    <span class="accordian_title"
                                      >Testing and Quality Assurance</span
                                    >
                                  </div>
                                  <div class="accordian_body">
                                    <p class="accordian_description">
                                        Rigorous testing is conducted to identify and rectify any bugs or issues. This phase ensures the software performs optimally and meets your expectations.
                                    </p>
                                  </div>
                                </div>
                                <div class="accordian">
                                  <div class="accordian_head">
                                    <div class="accordian_toggler">+</div>
                                    <span class="accordian_title"
                                      >Deployment and Training</span
                                    >
                                  </div>
                                  <div class="accordian_body">
                                    <p class="accordian_description">
                                        Once the software is ready, it's deployed across your systems. Expert developers can provide training and support to ensure a seamless transition for your team.
                                    </p>
                                  </div>
                                </div>
                                <div class="accordian">
                                    <div class="accordian_head">
                                      <div class="accordian_toggler">+</div>
                                      <span class="accordian_title"
                                        >Ongoing Support and Maintenance</span
                                      >
                                    </div>
                                    <div class="accordian_body">
                                      <p class="accordian_description">
                                        Custom software solutions are not static; they evolve with your business. Reliable support and regular updates ensure your software remains up-to-date and aligned with your changing needs
                                      </p>
                                    </div>
                                  </div>
                              </section>
                        </div>
                    </div>
                </div>
                <input type="radio" name="tabs-dev" id="2-dev" checked="checked">
                <label for="2-dev">Enterprise Software Development</label>
                <div class="tab">
                    <!-- Tab One Content for Development -->
                    adfasdf
                </div>
                <input type="radio" name="tabs-dev" id="3-dev" checked="checked">
                <label for="3-dev">Software Integration and API Development</label>
                <div class="tab">
                    <!-- Tab One Content for Development -->
                    adfasdf
                </div>
                <!-- ... Other tabs for Development ... -->
                <input type="radio" name="tabs-dev" id="4-dev" checked="checked">
                <label for="4-dev">Web App Development</label>
                <div class="tab">
                    <!-- Tab One Content for Development -->
                    adfasdf
                </div>
                <!-- ... Other tabs for Development ... -->
                <input type="radio" name="tabs-dev" id="5-dev" checked="checked">
                <label for="5-dev">Mobile App Development</label>
                <div class="tab">
                    <!-- Tab One Content for Development -->
                    adfasdf
                </div>
                <!-- ... Other tabs for Development ... -->
            </div>
        </div>
        <div>
            <h1>Design</h1>
            <div class="tabs">
                <input type="radio" name="tabs-design" id="1-design" checked="checked">
                <label for="1-design">UI/UX Design</label>
                <div class="tab">
                    <!-- Tab One Content for Design -->
                </div>
                <!-- ... Other tabs for Design ... -->
                <input type="radio" name="tabs-design" id="2-design" checked="checked">
                <label for="2-design">Website Design</label>
                <div class="tab">
                    <!-- Tab One Content for Design -->
                </div>
                <!-- ... Other tabs for Design ... -->
                <input type="radio" name="tabs-design" id="3-design" checked="checked">
                <label for="3-design">Mobile App Design</label>
                <div class="tab">
                    <!-- Tab One Content for Design -->
                </div>
                <!-- ... Other tabs for Design ... -->
                <input type="radio" name="tabs-design" id="4-design" checked="checked">
                <label for="4-design">Graphic Design</label>
                <div class="tab">
                    <!-- Tab One Content for Design -->
                </div>
                <!-- ... Other tabs for Design ... -->
                <input type="radio" name="tabs-design" id="5-design" checked="checked">
                <label for="5-design">Icon and Illustration Design</label>
                <div class="tab">
                    <!-- Tab One Content for Design -->
                </div>
                <!-- ... Other tabs for Design ... -->
            </div>
        </div>
        <div>
            <h1>Consultation</h1>
            <div class="tabs">
                <input type="radio" name="tabs-consult" id="1-consult" checked="checked">
                <label for="1-consult">IT Strategy Consultation</label>
                <div class="tab">
                    <!-- Tab One Content for Consultation -->
                </div>
                <!-- ... Other tabs for Consultation ... -->
                <input type="radio" name="tabs-consult" id="2-consult" checked="checked">
                <label for="2-consult">Digital Transformation Consultation:</label>
                <div class="tab">
                    <!-- Tab One Content for Consultation -->
                </div>
                <!-- ... Other tabs for Consultation ... -->
                <input type="radio" name="tabs-consult" id="3-consult" checked="checked">
                <label for="3-consult">Cloud Computing Consultation</label>
                <div class="tab">
                    <!-- Tab One Content for Consultation -->
                </div>
                <!-- ... Other tabs for Consultation ... -->
                <input type="radio" name="tabs-consult" id="4-consult" checked="checked">
                <label for="4-consult">Digital Marketing Consultation</label>
                <div class="tab">
                    <!-- Tab One Content for Consultation -->
                </div>
                <!-- ... Other tabs for Consultation ... -->
                <input type="radio" name="tabs-consult" id="5-consult" checked="checked">
                <label for="5-consult">E-commerce Consultation</label>
                <div class="tab">
                    <!-- Tab One Content for Consultation -->
                </div>
            </div>
        </div>
    </div>
</div>