.header {
    position: relative;
    width: 100%;
    height: 50vh;
    /* Adjust this to control the header height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/header/technology-6701504_1280.jpg');
    background-size: cover;
    background-position: center;
    /* Adjust the opacity as needed */
    z-index: -1;
}

.header-content {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    justify-content: space-evenly;
    width: 100%;
    /* Adjust the padding to control content position */
    color: #ffffff;
}



.header-content div .links {
    flex-direction: row;
    display: inline-flex;
}

.mr_btn {
    background-color: transparent;
    padding: 0.3rem 3rem;
    border-radius: 0.5rem;
    border: solid orange 0.3rem;
    color: orange;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 1rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.1rem;
}

.cb_btn {
    background-color: orange;
    padding: 0.3rem 3rem;
    border-radius: 0.5rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    color: hsl(214, 63%, 9%);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

.animation-container {
    overflow: hidden;
}

.animated-text {
    position: relative;
    left: -100%;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

em {
    color: orange;
    font-style: normal;
}

@media screen and (max-width: 908px) {

    /* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading{
        font-size: 3rem;
    }

    .mr_btn {
        background-color: transparent;
        padding: 0.3rem 1rem;
        border-radius: 0.5rem;
        border: solid orange 0.3rem;
        color: orange;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        margin-right: 1rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        letter-spacing: 0.1rem;
    }
    
    .cb_btn {
        background-color: orange;
        padding: 0.3rem 1rem;
        border-radius: 0.5rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        color: hsl(214, 63%, 9%);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
	and (orientation: portrait) {
	/* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading{
        font-size: 2.5rem;
    }
}





.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .tabs label {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #90CAF9;
    font-weight: bold;
    -webkit-transition: background ease 0.2s;
    transition: background ease 0.2s;
  }
  
  .tabs .tab {
    -webkit-box-ordinal-group: 100;
    -webkit-order: 99;
    -ms-flex-order: 99;
    order: 99;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fafafa;
  }
  
  .tabs input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .tabs input[type="radio"]:checked + label { background: #fafafa; }
  
  .tabs input[type="radio"]:checked + label + .tab { display: block; }
   @media (max-width: 45em) {
  
  .tabs .tab,  .tabs label {
    -webkit-box-ordinal-group: NaN;
    -webkit-order: initial;
    -ms-flex-order: initial;
    order: initial;
  }
  
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
  }
  


  section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .accordian {
    max-width: 650px;
    padding: 0.6rem;
    border-radius: 12px;
  }
  
  .accordian:first-child {
    background: #fdf7f0;
    border-left: 4px solid #fac38b;
  }
  
  .accordian:nth-child(2) {
    background: #f1f0fe;
    border-left: 4px solid #9090eb;
  }
  
  .accordian:nth-child(3) {
    background: #fff0f3;
    border-left: 4px solid #ef95ac;
  }
  
  .accordian:nth-child(4) {
    background: #eef9ff;
    border-left: 4px solid #98d1f3;
  }
  
  .accordian_head {
    background-color: transparent;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
  }
  
  .accordian_toggler {
    align-self: flex-start;
    background-color: transparent;
    font-size: 1.8rem;
    transition: all 0.5s ease;
  }
  
  .accordian_toggler.active {
    rotate: 133deg;
  }
  
  .accordian_title {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .accordian_body {
    background: transparent;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease;
  }
  
  .active_body {
    grid-template-rows: 1fr;
  }
  
  .accordian_description {
    background-color: transparent;
    margin-top: 0.7rem;
    padding-left: 2.3rem;
    font-size: 0.9rem;
    overflow: hidden;
    line-height: 1.2rem;
  }
  