/*HEADER*/
header {
    width: 100%;
    background: linear-gradient(150deg, var(--primary) 30%, rgba(1, 1, 1, 0.01) 100%), url('../../../assets/header_img/futuristic-smart-city-with-5g-global-network-technology.jpg');
    background-size: cover;
    background-position: left;
    align-items: center;
    justify-content: left;
    color: var(--white);
    position: relative;
    filter: brightness(100%);
}

em {
    color: var(--secondary);
}


header article {
    width: 100%;
    height: calc(40vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

header article .title {
    font-weight: 900;
    font-size: 6rem;
}

.our-team-section {
    width: 100%;
}

.center {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.max {
    width: 100%;
    max-width: 1200px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 60px 20px;
    max-width: 1200px;
}

.movie-card {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 50px var(--primary);
}


.movie-card .content-card,
.movie-card .watch-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    color: #111;
}

.movie-card .watch-card {
    background: var(--secondary_2);
    z-index: -1;
}

.movie-card .watch-card button {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0%);
    border: none;
    outline: none;
    background: none;
    color: #eee;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}

.movie-card-second .watch-card button {
    color: #222;
}


.movie-card-second .watch-card button:hover {
    color: #eee;
}


.movie-card .content-card {
    padding: 20px 25px;
}

.movie-card-second .content-card {
    top: -50px;
}


.movie-card .content-card:hover {
    top: -50px;
}

.movie-card-second .content-card:hover {
    top: 0px;
}

.movie-card .content-card:hover img {
    transform: scale(1.2);
}

.movie-card-second .content-card img {
    transform: scale(1.2);
}

.movie-card-second .content-card:hover img {
    transform: scale(1);
}

.movie-card .content-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.movie-card .content-card .shadow {
    width: 100%;
    height: 170px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--secondary);
    box-shadow: 0 0 10px 20px var(--secondary);
    filter: blur(10px);
}

.movie-card-second .content-card .shadow {
    background: #111;
    box-shadow: 0 0 10px 20px #111;
}


.movie-card .content-card .content {
    position: absolute;
    color: #000000;
    bottom: 20px;
}


.movie-card .content-card .content h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2.2em;
}


.movie-card .content-card .content .date {
    color: #aaa;
    text-transform: capitalize;
    font-weight: 700;
    font-size: .75em;
}


.movie-card .content-card .content b {
    margin: 5px 0;
    display: inline-block;
}

.movie-card .content-card .content .stars {
    margin: 8px 0;
    font-size: .9em;
    color: #aaa;
}

.movie-card .content-card .content .stars .checked {
    color: orange;
}


.movie-card .content-card .content .hex-tag {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}


.movie-card .content-card .content .hex-tag .tag {
    background: rgba(200, 200, 200, .2);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: .85em;
}


.movie-card .content-card .content .fa-angle-up,
.movie-card .content-card .content .fa-angle-down {
    position: absolute;
    left: 50%;
    transform: translate(0%, -50%);
    font-size: 1.8em;
    color: #aaa;
}




@media (min-width: 0px) and (max-width: 700px) {
    body {
        grid-template-columns: auto;
        gap: 50px;
        margin: 60px 0;
    }

    body:after {
        top: -40px;
        height: calc(100% + 590px);
    }

    .row {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
        gap: 60px 20px;
        max-width: 1000px;
    }

}


.banner {
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    background-color: hsla(0, 0%, 100%, 0.2);
    box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    border-radius: 0.375em;
    transition: 0.3s;
    width: 100%;
    margin-inline: auto;
    background-color: var(--primary);
}

.banner__grid {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: white;
}

.banner__grid>* {
    min-width: 0;
}

.banner__link {
    position: relative;
    text-decoration: none;
    color: hsl(250, 84%, 54%);
    display: inline-block;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform-origin: left bottom;
}

.banner__link i {
    /* label */
    position: relative;
    z-index: 2;
    display: inline-block;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.banner__link::after {
    /* animated border */
    content: "";
    background-color: currentColor;
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    -webkit-clip-path: inset(0% round 0.1875em);
    clip-path: inset(0% round 0.1875em);
    opacity: 0.15;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.banner__figure {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__text {
    padding: 1.5rem;
}

.banner__link-wrapper {
    margin-top: 1rem;
}


@media (min-width: 64rem) {
    .banner__grid {
        height: 100%;
        flex-direction: row-reverse;
        background-color: var(--primary);
        color: white;
    }

    .banner__grid>* {
        width: 50%;
    }

    .banner__figure {
        height: 100%;
        padding-bottom: 0;
    }

    .banner__text {
        padding: 2rem 1rem;
    }

    .banner__text h1 {
        margin-bottom: 10px;
    }

    .banner__text p {
        margin-bottom: 10px;
    }

    .banner__text a {
        font-weight: 900;
    }

    .banner__text a:hover {
        color: var(--secondary_2);
    }

    .banner__link-wrapper {
        margin-top: 1.5rem;
    }

    .banner--invert .banner__grid {
        flex-direction: row;
    }

    .banner--invert .banner__text {
        text-align: right;
    }

    .banner--invert .banner__link {
        transform-origin: right bottom;
    }
}


.cards {
    --cards-text-color: white;
    --cards-closed-size: 4rem;
    --animation-speed-normal: .5s;
    --animation-speed-fast: .25s;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 20px;
}

.card {
    width: 100%;
    height: var(--cards-closed-size);
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    transition: all var(--animation-speed-normal) ease-in-out;
    cursor: pointer;
    background-color: var(--primary);
}

.card[active] {
    width: 100%;
    height: 30rem;
    flex: 0 0 calc(640px - 19rem);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.card__image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    filter: brightness(.675) saturate(75%);
    transition: filter var(--animation-speed-fast) ease-in-out;
}

.card:hover .card__image {
    filter: brightness(.875) saturate(100%);
}

.card__infos {
    position: absolute;
    z-index: 2;
    height: var(--cards-closed-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card[active] .card__infos {
    position: absolute;
    z-index: 2;
    height: var(--cards-closed-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.card__name {
    margin: 0;
    color: var(--cards-text-color);
    transform: translateY(.65rem);
    transition: all var(--animation-speed-normal) ease-in-out;
    font-size: 1.5rem;
}

.card[active] .card__name {
    transform: translateY(0);
}

.card__author {
    margin: 0;
    color: var(--cards-text-color);
    text-decoration: none;
    transform: translateY(.65rem);
    opacity: 0;
    transition:
        opacity var(--animation-speed-fast) ease-in-out,
        transform var(--animation-speed-normal) ease-in-out;
}

.card[active] .card__author {
    transform: translateY(0);
    opacity: 1;
}

.card[active] .card__author:hover {
    opacity: .75;
}

@media screen and (min-width: 640px) {
    .cards {
        max-width: 640px;
        margin: 0 auto;
        flex-direction: row;
    }

    .card {
        width: var(--cards-closed-size);
        height: 20rem;
        flex: 0 0 var(--cards-closed-size);
    }

    .card[active] {
        width: 100%;
        height: 20rem;
        flex: 0 0 calc(640px - 19rem);
    }

    .card__name {
        transform: rotate(-90deg) translate(-12rem, -2.25rem);
        width: 100%;
        display: inline-flex;
    }
}

.ibg {
    background-color: var(--secondary_2);
    padding: 4rem 20px;
    color: white;
    line-height: 2rem;
    margin-top: 50px;
    text-align: center;
}

.git {
    background-color: var(--primary);
    padding: 5px 10px;
}