<div class="foot">
    <div class="foot_links">
        <div class="address item">
            <figure class="logo flex">
                <img src="../../../assets/logo/gold.svg" alt="Projcted IT" width="35px">
                <h3>Projected IT</h3>
            </figure>
            <a href="#">
                <i class="fa fa-map-marker"></i>
                2782 Tunzi Street Rockville Moroka 1818 Johannesburg Gauteng South Africa.
            </a>
            <a href="emailto:info@projectedit.co.za">
                <i class="fa fa-envelope-o"></i>
                info@projectedit.co.za
            </a>
            <a href="tel:0632790215">
                <i class="fa fa-headphones"></i>
                0632790215
            </a>
        </div>
        <div class="links item">
            <h3>Quick Links</h3>
            <a href="#">Solutions</a>
            <a href="#">About</a>
            <a href="#">Careers</a>
            <a href="#">Projects</a>
        </div>
        <div class="sub item">
            <h3>Newsletter</h3>
            <p>You can trust us. we only send important notifications related to Technology.</p>
            <div class="flex">
                <input type="email" name="newsletter" placeholder="Your Email Address">
                <button class="btn btn_2">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright ©2020 All rights reserved || Projected IT</p>
        <div class="socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>