<div class="foot">
    <div class="foot_links">
        <div class="address item">
            <figure class="logo fixed_flex">
                <img src="" alt="Projcted IT">
            </figure>
            <a href="#">
                <i class="fa fa-map-marker"></i>
                2782 Tunzi Street Rockville Moroka 1818 Johannesburg Gauteng South Africa.
            </a>
            <a href="emailto:info@schotest.com">
                <i class="fa fa-envelope-o"></i>
                info@schotest.com
            </a>
            <a href="tel:9315514145">
                <i class="fa fa-headphones"></i>
                9315514145
            </a>
        </div>
        <div class="links item">
            <h3>Quick Links</h3>
            <a href="#">Admission</a>
            <a href="#">Prospectus</a>
            <a href="#">Student registration</a>
            <a href="#">Staff registration</a>
        </div>
        <div class="sub item">
            <h3>Newsletter</h3>
            <p>You can trust us. we only send important notifications related to Technology.</p>
            <div class="fixed_flex">
                <input type="email" name="newsletter" placeholder="Your Email Address">
                <button class="btn btn_2">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright ©2020 All rights reserved || Projected IT</p>
        <div class="socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>