<div class="toolbar" [style.backgroundColor]="toolbarColor">
    <div class="navbar">
        <div class="manubtn">
            <button>&#9776;</button>
        </div>
        <div class="logo-container">
            <a class="logo" href="">Projected IT</a>
        </div>
        <span class="space"></span>
        <div class="navlinks">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Solutions</a>
            <a class="ct-us" href="">Contact Us</a>
        </div>
    </div>
</div>
