/* You can add global styles to this file, and also import other style files */
:root {
    --black: #0e0b16;
    --lite: #e7dfdd;
    --primary: #a239ca;
    --secondary: #4717f6;
    --default_font: Roboto, "Helvetica Neue", sans-serif;
    --title_font: 'Kanit', sans-serif;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--default_font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: var(--black);
    height: 4rem;
    filter: brightness(1);
    filter:contrast(2) ;
    filter: saturate(2);
    color: white;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.ct{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mx {
    max-width: 1000px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pd_1{
    padding: 1rem;
}

a{
    text-decoration: none;
}