/* For Desktop View */
a{
    text-decoration: none;
    color: var(--lite);
    font-weight: 500;
    font-size: 20px;
}

a:hover {
    color: var(--primary);
}

li{
    margin: 20px 0;
    list-style: none;
    color: var(--lite);
}

@media screen and (min-width: 1024px) {
    .links ul{
        display: inline-flex;
        flex-direction: row;
    }

    li{
        margin: 0 0 0 20px;
        list-style: none;
        color: var(--lite);
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}