<nav class="links">
    <ul>
        <li>
            <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="solutions" routerLinkActive="active" ariaCurrentWhenActive="page">Solutions</a>
        </li>
        <li>
            <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        </li>
        <li>
            <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </li>
    </ul>
</nav>
